data.dtd

<!ELEMENT songs (song+)>
<!ELEMENT song (title, artist, year, genre, price, condition, pressing, edition, description, stock)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT artist (#PCDATA)>
<!ELEMENT year (#PCDATA)>
<!ELEMENT genre (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT condition (#PCDATA)>
<!ELEMENT pressing (#PCDATA)>
<!ELEMENT edition (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT stock (#PCDATA)>
